.progress-container {
  width: 3.5%;
  background-color: rgba(217, 217, 217, 1);
  padding: 1.5px;
  text-align: center;
  border-radius: 100%;
  margin-left: 100px;
  box-shadow: 3px 4px 5px rgba(188, 188, 188, 1);
}
